:root {
    font-size: 14px;
}
* {
    padding: 0;
    margin: 0;
}

body {
    background-color: #faf9f6;
    transition: background-color 0.3s ease;
}

body.dark {
    /* background-color: rgb(27, 23, 78); */
    background-color: rgb(54 50 106);
}

.all {
    /* text-align: center; */
    position: absolute;
    top: 10px;
    right: 15px;
    /* min-height: 100vh; */
    /* display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px; */
    /* color: white; */
}

.checkbox {
    opacity: 0;
    position: absolute;
}

.checkbox-label {
    /* background-color: #0880ca; */
    background-color: #4e7bc4;
    width: 3.625rem;
    height: 1.75rem;
    border-radius: 3.125rem;
    position: relative;
    padding: 0.3125rem;
    cursor: pointer;
    display: flex;
    /* justify-content: space-between; */
    justify-content: center;
    align-items: center;
}

#day {
    position: relative;
    width: 1.875rem;
    height: 1.875rem;
    opacity: 1;
    /* border: 1px solid white; */
    transition: opacity 0.3s ease-in;
}

#day #day-first {
    color: white;
    font-size: 0.25rem;
    position: absolute;
    top: 0.75rem;
    left: 0.5rem;
}

#day #day-second {
    color: white;
    font-size: 0.4375rem;
    position: absolute;
    top: 0.1875rem;
    right: 0.375rem;
}

#night {
    position: relative;
    /* position: absolute; */
    width: 1.875rem;
    height: 1.875rem;
    opacity: 0;
    /* border: 1px solid white; */
    transition: opacity 0.5s ease-in;
}

#night #night-first {
    color: white;
    font-size: 0.4375rem;
    position: absolute;
    top: 0.25rem;
    left: 0.375rem;
}

#night #night-second {
    color: white;
    font-size: 0.3125rem;
    position: absolute;
    bottom: 0.25rem;
    right: 0.09375rem;
}

#night #night-third {
    color: white;
    font-size: 0.125rem;
    position: absolute;
    bottom: 0.625rem;
    left: 0.25rem;
}

#night #night-fourth {
    color: white;
    font-size: 0.1875rem;
    position: absolute;
    top: 0.75rem;
    right: 0.3125rem;
}

#night #night-fifth {
    color: white;
    font-size: 0.1875rem;
    position: absolute;
    top: 0.25rem;
    right: -0.25rem;
}

.checkbox-label .toggle-mode {
    /* background-color: #fff; */
    /* width: 26px;
    height: 26px; */
    position: absolute;
    left: 0.40625rem;
    top: 0.34375rem;
    border-radius: 50%;
    transition: transform 0.2s linear;
}

.checkbox-label #toggle-icon {
    color: white;
    font-size: 1.625rem;
    position: absolute;
    /* top: 0.0625rem; */
}

.checkbox:checked~.checkbox-label .toggle-mode {
    transform: translateX(2.0625rem);
}

.checkbox:checked~.checkbox-label {
    /* background-color: rgb(16, 28, 79); */
    background-color: rgb(4, 12, 46);
}